
@{
    ViewBag.Title = "PasswordCalc";
}
<script src="~/Scripts/MyScripts/CalcPasswordStrength.js"></script>

<body ng-app>
    


    <h2>PasswordCalc</h2>

    <form>
        PasswordString: <input type="password" /><br />
        <input type="submit" /><br />

        <progress value="22" max="100"></progress>
    </form>

</body>